<meta name="google-site-verification" content="TEQJ5jLQNBZVGTD0ZIL3q7dav7LG5XE_F4IEQ4IHywc" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@thegoodhost1">
<meta name="twitter:creator" content="@iamjohnellison">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image" content="{{ image }}">

<meta property="og:url" content="http://www.thegoodhost.co.uk" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_UK" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ image }}" />
