.subheader {
  font-family: $sans-serif-font-family;
}

small {
  font-size: .8rem;
}

@mixin small-caps {
  font-size: 1.2rem;
  letter-spacing: .5px;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}
