@mixin small-caps {
  letter-spacing: .5px;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}

.subheader {
  font-family: $sans-serif-font-family;
  @include small-caps;
}

small {
  font-size: .8rem;
}
