// Color
$midnight: #08232C;
$norwich-yellow: #FFF56B;

// Type
$serif-font-family: "Merriweather", Georgia, Verdana, serif;
$sans-serif-font-family: "Merriweather Sans", Helvetica, Arial, sans-serif;
