<form class="agentPartnership">
  <legend>
    <div class="row">
      <div class="columns small-6">
        <label for="first_name">Your name<input type="text" name="first_name" placeholder="John Doe" required></label>
      </div>
      <div class="columns small-6">
        <label for="email">Email address<input type="email" name="email" placeholder="john@doe.com" required></label>
      </div>
    </div>
    <div class="row">
      <div class="columns small-8 medium-9">
        <label for="street_address">Street address<input type="text" name="street_address" placeholder="Street address" required></label>
      </div>
      <div class="columns small-4 medium-3">
      <label for="postal_code">Postcode<input type="text" name="postal_code" placeholder="Postcode" required></label>
      </div>
    </div>

    <div class="row">
      <div class="columns small-6">
        <label for="bed">
          # of bedrooms
          <input type="number" name="number_of_bedrooms" placeholder="Number of bedrooms" required>
        </label>
      </div>
      <div class="columns small-6">
        <label for="bath">
          # of bathrooms
          <input type="number" name="number_of_bathrooms" placeholder="Number of bathrooms" required>
        </label>
      </div>
    </div>
    <label for="GDPR" class="consent-box">
      <input type="checkbox" required name="GDPR">
      <small>I consent to allow The Good Host to store, process the personal information submitted above to provide me with the content requested along with relevant communications. I understand that I can unsubscribe at any time. For more information please review our <a href="/privacy-policy.pdf">Privacy Policy.</a></small>
    </label>

    <input type="submit" value="SEND" class="earningsEstimateSubmit button medium">
  </legend>
</form>

<div class="success_message successMessage callout transparent">
  <h3>Thank you! Your earnings request has been submitted</h3>
  <p>We will get back to you with a customized forecast in the next 48 hours.</p>
  <p>If you have any questions please give us a call on <a href="tel:08009804349" data-event="contact-button">0800 980 4349</a> or email us at <a href="mailto:info@thegoodhost.co.uk" data-event="contact-button">info@thegoodhost.co.uk</a>.</p>
</div>
