<section class="cta full-height" id="earningsFooter">
  <div class="cta__wrapper">
    <div class="cta__content row">
      <div class="columns medium-9 medium-centered large-7">
        <div class="callout">
          <h2 class="earningsHeader">See how much you could earn</h2>
          <p>Submit your details below. We reference five years of historical market data, comparable properties to put together accurate figures for you to consider.</p>
          <p>We don't spam, ever.</p>
          {{> earnings-estimate }}
        </div>
      </div>
    </div>
    <footer class="cta__footer">
      <a href="http://norfolkpropertyphotos.co.uk/" class="button tiny transparent">Photo of Elm hill by Norfolk Property Photos</a>
    </footer>
  </div>
</section>
