<section class="content-section--full-height">
  <div class="customers__content">
    <div class="customers__heading__wrapper row">
      <div class="customers__heading column medium-9 medium-centered large-7">
        <h2>Our customers, of course.</h2>
        <h3 class="subheader h4">you are at the heart of everything we do</h3>
        <p>We get it. Your property is your financial security and your future. It's a big deal. That's why we obsess over the details and make sure we serve you and your needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-11 medium-centered large-9">
        <div class="customers row">
          <div class="columns medium-4">
            <div class="customer">
              <div class="row collapse">
                <div class="columns small-6 medium-12">
                  <img class="customer__image" src="assets/img/norwich-property-investors.jpg" alt="Norwich Property Investors" data-interchange="[assets/img/norwich-property-investors.jpg, small], [assets/img/norwich-property-investors@2x.jpg, retina]">
                </div>

                <div class="columns small-6 medium-12">
                  <div class="customer__content ">
                    <h4 class="h5">Investors</h4>
                    <p>Want better returns than buy-to-let? You will love the extra income that short-term rentals provide.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns medium-4">
            <div class="customer">
              <div class="row collapse">
                <div class="columns small-6 medium-12">
                  <img class="customer__image" src="assets/img/norwich-airbnb-hosts.jpg" alt="Norwich Airbnb Hosts" data-interchange="[assets/img/norwich-airbnb-hosts.jpg, small], [assets/img/norwich-airbnb-hosts@2x.jpg, retina]">
                </div>
                <div class="columns small-6 medium-12">
                  <div class="customer__content">
                    <h4 class="h5">Airbnb hosts</h4>
                    <p>Love the revenue? Hate the hassle? Let us help you do more of what you love and less of what you don't.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns medium-4">
            <div class="customer">
              <div class="row collapse">
                <div class="columns small-6 medium-12">
                  <img class="customer__image" src="assets/img/norwich-travelling-homeowners.jpg" alt="Norwich travelling homeowners" data-interchange="[assets/img/norwich-travelling-homeowners.jpg, small], [assets/img/norwich-travelling-homeowners@2x.jpg, retina]">
                </div>
                <div class="columns small-6 medium-12">
                  <div class="customer__content">
                    <h4 class="h5">Homeowners</h4>
                    <p>Want to go away without the hassle of storing your furniture and dealing with estate agents?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
