<section class="content-section--full-height">
  <div class="customers__content">
    <div class="customers__heading__wrapper row">
      <div class="customers__heading column medium-9 medium-centered large-7">
        <h2>Our customers, of course.</h2>
        <h3 class="subheader h4">you are at the heart of everything we do</h3>
        <p>
          We've been amazed by the response from Norwich investors, Airbnb hosts and vacant homeowners. Most people seem to get the power of short-term rental platforms like Airbnb. It's an honor to be entrusted to produce above-market returns with people's most valued assets.
        </p>
        <p>For many customers, property is their pension, their children's education or their family's future. We get it. It's a big deal. That's why we obsess over the details and make sure we fully understand you and your needs.</p>
      </div>
    </div>
    <div class="row">
      <div class="columns medium-11 medium-centered large-9">
        <div class="customers row">
          <div class="columns medium-4">
            <div class="customer">
              <div class="row collapse">
                <div class="columns small-6 medium-12">
                  <img class="customer__image" src="assets/img/norwich-property-investors.jpg" alt="Norwich Property Investors" data-interchange="[assets/img/norwich-property-investors.jpg, small], [assets/img/norwich-property-investors@2x.jpg, retina]">
                </div>

                <div class="columns small-6 medium-12">
                  <div class="customer__content ">
                    <h4 class="h5">Investors</h4>
                    <p>Want better returns than buy-to-let? You will love the extra income that short-term rentals provide.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns medium-4">
            <div class="customer">
              <div class="row collapse">
                <div class="columns small-6 medium-12">
                  <img class="customer__image" src="assets/img/norwich-airbnb-hosts.jpg" alt="Norwich Airbnb Hosts" data-interchange="[assets/img/norwich-airbnb-hosts.jpg, small], [assets/img/norwich-airbnb-hosts@2x.jpg, retina]">
                </div>
                <div class="columns small-6 medium-12">
                  <div class="customer__content">
                    <h4 class="h5">Airbnb hosts</h4>
                    <p>Lost hosting? Want to manage more properties? Save them with emails, questions and metting guests.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="columns medium-4">
            <div class="customer">
              <div class="row collapse">
                <div class="columns small-6 medium-12">
                  <img class="customer__image" src="assets/img/norwich-travelling-homeowners.jpg" alt="Norwich travelling homeowners" data-interchange="[assets/img/norwich-travelling-homeowners.jpg, small], [assets/img/norwich-travelling-homeowners@2x.jpg, retina]">
                </div>
                <div class="columns small-6 medium-12">
                  <div class="customer__content">
                    <h4 class="h5">Homeowners</h4>
                    <p>Homeowners who want to travel for work or leisure over 3+ months will enjoy the flexibility and added income.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
