<div class="how-it-works__bg" id="how-it-works">
  <section class="content-section--full-height">
    <div class="content-section__row">
      <div class="content-section__half" id="how-it-works">
          <img src="/assets/img/simplicity-764.jpg" alt="plant simplicity minimalism" class="show-for-small-only">
          <h2>It's simple really...</h2>
          <h3 class="subheader h4">we handle everything for you.</h3>
          <p>Our experience setting up a short-term rental management company in the States has given us three years to refine our approach. We leverage our experience with tech startups in Silicon Valley to ensure you get the most out of your investment without the hassle.</p>
        <a href="/process.html" class="button" data-toggle="timeline">See the process in detail</a>
      </div>
    </div>
  </section>
</div>
