<section class="how-it-works full-height">
  <div class="how-it-works__content">
    <div class="how-it-works__heading__wrapper row">
      <div class="how-it-works__heading column large-6">
          <h2>Our process? It's simple really...</h2>
          <h3 class="subheader h4">we handle everything for you.</h3>
          <p class="lead">There are two main parts of the process: Listing your property and hosting guests.</p>
          <p>Our experience setting up a short-term rental management company in the States has given us three years to refine our approach. We leverage our experience using design and technology to ensure you get the most out of your investment.</p>
        <a href="/process.html" class="button" data-toggle="timeline">See the process in detail</a>
      </div>
    </div>
  </div>
</section>
