<div class="insurance__bg" id="insurance">
  <section class="content-section--full-height">
    <div class="content-section__row">
      <div class="content-section__half">
          <div class="content-section__heading">
            <img src="/assets/img/umbrella-sm.jpg" alt="yellow umbrella specialist airbnb insurance" class="show-for-small-only">
            <h2>We've got you covered.</h2>
            <h3 class="subheader h4">Specialist insurance and dedicated property managers</h3>
            <p>
              Sharing platforms like Airbnb have been so successful because they are founded on a relationship of trust between guests and hosts. However, even the most careful guests sometimes have accidents.
            </p>
            <p class="show-for-small-only">We partner with a specialist insurance provider to make sure you've got the right cover.</p>
            <a href="https://www.pikl.com/thegoodhost" class="button" data-smooth-scroll>Learn more...</a>
          </div>
      </div>
      <div class="content-section__half show-for-medium">
        <div class="card">
          <div class="card-section">
            <h4 class="h5">Compatible Home Insurance</h4>
            <p>We partner with a <a href="https://pikl.com">specialist insurance provider</a> to make sure that you have the right Home Insurance in place to work alongside your Host Insurance policy.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-section">
            <h4 class="h5">Specialist Host Insurance</h4>
            <p>Whether you're renting out a room, annex or entire house, we'll make sure you have the right Host Insurance to protect against the unlikely event of guest-related incidents.</p>
          </div>
        </div>

        <div class="card">
          <div class="card-section">
            <h4 class="h5">Dedicated property managers</h4>
            <p>Every property that we manage has a dedicated on-call property manager. That means if something unexpected happens, we'll take care of it.</p>
          </div>
        </div>
      </div>
  </div>
  </section>
</div>
