<section class="insurance full-height">
  <div class="insurance__content">
    <div class="offering__heading__wrapper row">
        <div class="insurance__heading columns medium-9 medium-centered large-7">
          <h2>We've got you covered</h2>
          <h3 class="subheader h4">Specialist insurance and dedicated property managers</h3>
          <p>
            Sharing platforms like Airbnb have been so successful because they are founded on a relationship of trust between guests and hosts. However, even the most careful guests have accidents.
          </p>
        </div>
    </div>
    <div class="row">
      <div class="columns medium-11 medium-centered large-9">
        <div class="insurance__items row">
          <div class="columns large-4">
            <div class="card">
              <div class="card-section">
                <h4 class="h5">Compatible Home Insurance</h4>
                <p>We partner with a specialist insurance provider to make sure that you have the right Home Insurance in place to work alongside your Host Insurance policy.</p>
              </div>
            </div>
          </div>
          <div class="columns large-4">
            <div class="card">
              <div class="card-section">
                <h4 class="h5">Specialist Host Insurance</h4>
                <p>Whether you're renting out a room, annex or entire house, we'll make sure you have the right Host Insurance to protect against the unlikely event of guest-related incidents.</p>
              </div>
            </div>
          </div>
          <div class="columns large-4">
            <div class="card">
              <div class="card-section">
                <h4 class="h5">Dedicated property managers</h4>
                <p>Every property that we manage has a dedicated on-call property manager 24 hours a day, 7 days a week. That means if something goes wrong and we can take care of it, we will.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
