<div class="offering__bg">
  <section class="offering full-height" id="offering">
    <div class="offering__content">
      <div class="offering__heading__wrapper columns large-6 large-push-6">
          <div class="offering__heading">
            <h2>Our offering</h2>
            <h3 class="subheader h4">Full-service Airbnb management</h3>
            <p class="lead">30% better returns, better care of your property and tax incentives&mdash;why wouldn't you?</p>
            <p>We've explored a wide range of options for getting great returns with stable income. For us, short-term rental platforms like Airbnb and Booking.com offer the best combination of factors.</p>
            <p>We created The Good Host to offer people like you 30% better returns without the hassle of managing a professional holiday let.</p>
            <a href="#earningsFooter" class="button" data-smooth-scroll>See how much you could earn...</a>
          </div>
        </div>

      <div class="offering__benefits columns large-6 large-pull-6">
        <div class="card">

          <div class="card-section">
            <h5>30% better returns</h5>
            <p>Sound too good to be true? We thought so too. Managing a professional Airbnb in the right market can bring incredible amounts of revenue when done professionally.</p>
          </div>
        </div>
        <div class="card">

          <div class="card-section">
            <h5>Better care of your property</h5>
            <p>We target quality guests at the higher end of the market. Since guests are coming and going every few days, your property is professionally cleaned and maintained to the highest standard.</p>
          </div>
        </div>
        <div class="card">

          <div class="card-section">
            <h5>Tax incentives</h5>
            <p>Furnished holiday lets still receive the mortgage interest tax relief that buy-to-let used to. This is a real game changer for investors with personal mortgages.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
