<div class="offering__bg" id="offering">
  <section class="content-section--full-height">
    <div class="content-section__row">
      <div class="content-section__half--push">
          <div class="content-section__heading">
            <h2>Our offering</h2>
            <h3 class="subheader h4">Full-service Airbnb management</h3>
            <p class="lead">We created The Good Host to offer people like you 30% better returns without the hassle of managing a professional holiday let.</p>
            <a href="#earningsFooter" class="button" data-smooth-scroll>See how much you could earn...</a>
          </div>
        </div>

      <div class="content-section__half--pull">
        <div class="card">
          <div class="card-section">
            <h5>30% better returns</h5>
            <p>Sound too good to be true? We thought so too. Managing a professional Airbnb in the right market can bring incredible amounts of revenue when done well.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h5>Better care of your property</h5>
            <p>We target quality guests at the higher end of the market. Since guests are coming and going every few days, your property is professionally cleaned and maintained to the highest standard.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h5>Tax incentives</h5>
            <p>Furnished holiday lets still receive the mortgage interest tax relief that buy-to-let used to. This is a real game changer for investors with personal mortgages.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
