<div class="problem__bg">
  <section class="problem full-height">
    <div class="problem__content">
      <div class="problem__heading__wrapper columns large-6">
        <div class="problem__heading">
          <h2>The challenges are stacking up</h2>
          <h3 class="subheader h4">We get it. We are property investors too.</h3>
          <p class="lead">Traditional buy-to-let investing just doesn’t produce the returns it used to. Tax reform, changing regulation, estate agents and tenants are all eating away at profits.</p>
          <p>Many investors are liquidating their portfolios and looking to other ways to create solid returns on their investments. Those who stay in the buy-to-let game are often forced into managing limited companies which involves a whole host of complications.</p>
          <a href="#offering" class="button" data-smooth-scroll>See what we offer</a>
        </div>
      </div>
      <div class="problem__list columns large-6">
        <div class="card">
          <div class="card-section">
            <h5>Tax reform</h5>
            <p><a href="https://www.which.co.uk/money/tax/income-tax/tax-on-property-and-rental-income/buy-to-let-mortgage-tax-relief-changes-explained-atnsv0j6j782">Mortgage interest tax reform</a> is pushing many buy-to-let investors out of the market or into limited companies against their will.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h5>Changing regulation</h5>
            <p>Every year we seem to see new regulation aimed at landlords and investors.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h5>Estate agents</h5>
            <p>Unfortunately, the culture of many estate agents breeds dishonesty and poor communication.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h5>Tenants</h5>
            <p>Great tenants that pay on time and take care of your property are hard to come by these days.</p>
          </div>
        </div>
      </div>
  </section>
</div>
