<div class="problem__bg">
  <section class="content-section--full-height">
    <div class="content-section__row">
      <div class="content-section__half">
        <div class="content-section__heading">
          <img src="/assets/img/challenges-stacking-up-sm.jpg" alt="wood stack challenges of buy to let" class="show-for-small-only">
          <h2>The challenges are stacking up</h2>
          <h3 class="subheader h4">We get it. We are property investors too.</h3>
          <p class="lead">Traditional buy-to-let investing just doesn’t produce the returns it used to. Tax reform, changing regulation and tenancies are all eating away at profits.</p>
          <a href="#offering" class="button" data-smooth-scroll>See what we offer</a>
        </div>
      </div>
      <div class="content-section__half show-for-medium">
        <div class="card">
          <div class="card-section">
            <h4>Tax reform</h4>
            <p><a href="https://www.which.co.uk/money/tax/income-tax/tax-on-property-and-rental-income/buy-to-let-mortgage-tax-relief-changes-explained-atnsv0j6j782">Mortgage interest tax reform</a> is pushing many buy-to-let investors out of the market or into limited companies against their will.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h4>Changing regulation</h4>
            <p>Every year we seem to see new regulation aimed at landlords and investors.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-section">
            <h4>Tenancies</h4>
            <p>Even with a good tenant in place, your property isn't earning nearly what it could be.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
