<section class="trust-row">
  <div class="row">
    <div class="column small-4">
      <!-- TrustBox widget - Review Collector -->
      <div class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="5cb5d351a70e15000117a930" data-style-height="52px" data-style-width="100%">
      <a href="https://uk.trustpilot.com/review/thegoodhost.co.uk" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
    </div>

    <div class="column small-4">
      <a href="https://www.airbnb.co.uk/superhost"><img src="assets/img/airbnb-superhost-norfolk.jpg" alt="airbnb superhost in norfolk badge" data-interchange="[assets/img/airbnb-superhost-norfolk.jpg, small], [assets/img/airbnb-superhost-norfolk@2x.jpg, retina]" class="trust-row__airbnb"></a>
    </div>

    <div class="column small-4">
      <a href="https://www.airbnb.co.uk/rooms/28150036/?guests=1&adults=1"><img src="assets/img/airbnb-five-star-reviews.jpg" alt="airbnb five star reviews" class="trust-row__airbnb" data-interchange="[assets/img/airbnb-five-star-reviews.jpg, small], [assets/img/airbnb-five-star-reviews@2x.jpg, retina]"></a>
    </div>
  </div>
</section>
