<section class="welcome">
  <div class="row">
    <div class="columns small-12 medium-10 medium-offset-1 large-7 large-offset-0">
      <hgroup class="welcome__heading">
        <h1>Airbnb management in Norwich, Norfolk</h1>
        <p class="lead">We manage your property on platforms like Airbnb so you can get 30% better returns without the hassle.</p>
      </hgroup>
      <a href="#earningsFooter" class="button" data-smooth-scroll>See how much you could earn</a>
    </div>
  </div>
</section>
