<section class="welcome full-height">
  <div class="row">
    <div class="columns small-12 medium-10 medium-offset-1 large-7 large-offset-0">
      <hgroup class="welcome__heading">
        <h1>Airbnb management in Norwich, Norfolk</h1>
        <p class="lead">Hello 30% better returns. We are The Good Host&mdash;Norwich’s first professional Airbnb management company. It's good to meet you.</p>
      </hgroup>
      <h2 class="h4 earningsHeader">See how much you could earn</h2>
      {{> earnings-estimate }}
    </div>
  </div>
</section>
