label:not([for="GDPR"]) {
  @include small-caps;
  font-size: 1.2rem;
}


input[type="text"],
input[type="email"],
input[type="number"] {
  margin-bottom: .5rem;
}

input[type="checkbox"] {
  margin-bottom: 0;
  display: inline-block;
}

label.consent-box {
  margin: .5rem 0 2rem 0rem;
  line-height: 1.3;
  font-weight: normal;
  display: inline;
}

.success_message {
  display: none;
}

.earningsEstimateSubmit {
  margin-top: 1rem;
}
