<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="columns medium-4">
        <ul class="site-footer__social-list">
          <li>
            <a href="https://www.facebook.com/thegoodhostnorwich">
              <img src="assets/img/facebook.svg" alt="Like The Good Host on Facebook">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/TheGoodHost1">
              <img src="assets/img/twitter.svg" alt="Follow The Good Host on Twitter">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/thegoodhostnorwich/">
              <img src="assets/img/instagram.svg" alt="Follow The Good Host on Instagram">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/the-good-host/">
              <img src="assets/img/linkedin.svg" alt="Connect with The Good Host on LinkedIN">
            </a>
          </li>
        </ul>
      </div>
      <div class="columns medium-4">
        <section class="site-footer__contact">
          <ul class="no-bullet">
            <li><p>
                <a href="mailto:info@thegoodhost.co.uk">info@thegoodhost.co.uk</a>
            </p></li>
            <li><p>
                <a href="tel:08009804349">0800 980 4349</a>
            </p></li>
            <li>
              <p><a href="#">10A Castle Meadow, Norwich NR1 3DE</a></p>
            </li>
          </ul>
        </section>
      </div>
      <div class="columns medium-4">
        <p>
          <small>The Good Host Ltd is a company registered in England and Wales: 11898621 with a registered address of 10A Castle Meadow, Norwich NR1 3DE.</small>
        </p>
        <section class="site-footer__legal">
          <ul class="site-footer__legal__list">
            <li>
              <a href="/terms-and-conditions.pdf">Terms and conditions</a>
            </li>
            <li>
              <a href="/privacy-policy.pdf">Privacy policy</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</footer>
