<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="columns medium-4 text-center">
        <ul class="site-footer__social-list">
          <li>
            <a href="https://www.facebook.com/thegoodhostnorwich" data-event="connect-social">
              <img src="assets/img/facebook.svg" alt="Facebook">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/TheGoodHost1" data-event="connect-social">
              <img src="assets/img/twitter.svg" alt="Twitter">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/thegoodhostnorwich/" data-event="connect-social">
              <img src="assets/img/instagram.svg" alt="Instagram">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/the-good-host/" data-event="connect-social">
              <img src="assets/img/linkedin.svg" alt="LinkedIN">
            </a>
          </li>
        </ul>
        <div class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="5cb5d351a70e15000117a930" data-style-height="52px" data-style-width="100%">
        <a href="https://uk.trustpilot.com/review/thegoodhost.co.uk" target="_blank" rel="noopener">Trustpilot</a>
        </div>
      </div>
      <div class="columns medium-4">
        <section class="site-footer__contact">
          <ul class="no-bullet">
            <li>
                <a href="mailto:info@thegoodhost.co.uk" data-event="contact-button">info@thegoodhost.co.uk</a>
            </li>
            <li>
                <a href="tel:08009804349" data-event="contact-button">0800 980 4349</a>
            </li>
          </ul>
        </section>
      </div>
      <div class="columns medium-4">
        <section class="site-footer__legal">

          <p>
            <small>The Good Host Ltd is a company registered in England and Wales: 11898621 with a registered address of 10A Castle Meadow, Norwich NR1 3DE.</small>
          </p>
          <ul class="site-footer__legal__list">
            <li>
              <a href="/terms-and-conditions.pdf">Terms and conditions</a>
            </li>
            <li>
              <a href="/privacy-policy.pdf">Privacy policy</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</footer>
