@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  min-height: 100vh;
}

section.welcome {
  width: 100%;
  display: flex;
  align-items: center;
  background: url("/assets/img/airbnb-bed-768.jpg");
  background-repeat: none;
  background-size: cover;
  @include breakpoint(large) {
      background: url("/assets/img/airbnb-bed-1024.jpg");
      background-repeat: none;
      background-size: cover;
  }
  @include breakpoint(xlarge) {
      background: url("/assets/img/airbnb-bed-1280.jpg");
      background-repeat: none;
      background-size: cover;
  }
}

section.process { display: none; }

section.problem,
section.offering,
section.insurance,
section.story,
section.customers,
section.how-it-works,
section.process,
section.cta {
  @include flex-center;
  @include section-padding;
  img {
    margin-bottom: 1rem;
  }
}

.problem__heading,
.offering__heading,
.insurance__heading,
.story__heading,
.customers__heading {
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 0;
  }
}


@include breakpoint(large) {
  .problem__bg {
    background-image: url('/assets/img/challenges-stacking-up.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right top;
  }
  .offering__bg {
    background-image: url('/assets/img/white-minimalist-home.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left top;

  }
  .problem__content .columns {
    padding: 0 2rem;
  }
  .problem__content .problem__heading__wrapper {
    padding-top: 2rem;
  }

  .how-it-works {
    background-image: url('/assets/img/simplicity.jpg');
    background-size: cover;
  }

}

.timeline__heading {
  @include grid-col;
  margin-top: 2rem;
  text-align: center;
  img {
    margin: 0 auto .5rem auto;
  }
  @include breakpoint(medium) {
    @include grid-col(7);
    @include grid-column-position(center);
  }
}


section.customers {
  background: $light-gray;
}

section.cta {
  background: url("/assets/img/norwich-elm-hill-640.jpg");
  background-repeat: none;
  background-size: cover;
  .callout {
    background: rgba(255,255,255, .8);
  }
  @include breakpoint(large) {
      background: url("/assets/img/norwich-elm-hill-1024.jpg");
      background-repeat: none;
      background-size: cover;
  }
  @include breakpoint(xlarge) {
      background: url("/assets/img/norwich-elm-hill-1440.jpg");
      background-repeat: none;
      background-size: cover;
  }
}


.cta__footer {
  position: relative;
  top: 4rem;
  text-align: center;
}
