  <div class="timeline__heading__wrapper row" id="list-your-property">
    <div class="timeline__heading">
      <h3>I: Listing your property</h3>
      <img src="assets/img/airbnb-listing-macbook.jpg" alt="Airbnb property listing on an iPad" data-interchange="[assets/img/airbnb-listing-macbook.jpg, small], [assets/img/airbnb-listing-macbook@2x.jpg, retina]">
      <p>Crafting a well-written listing with world-class photos and an optimized pricing strategy is key to success on platforms like Airbnb.</p>
    </div>
  </div>

  <div class="row">
    <div class="timeline column">
      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>1</h3>
        </div>
        <div class="timeline-content">
          <h4 class="timeline-content-date">We get to know each other</h4>
          <p>It's all about you: Your goals, your needs, your property and your plan. We want to listen and discern whether we are a good fit. There's no pressure, no sales pitch, just a conversation.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>2</h3>
        </div>
        <div class="timeline-content right">
          <h4 class="timeline-content-date">Visit your property</h4>
          <p>Every property is different. We'll walk through the space together and create an itemized list of suggestions for you to consider. We'll also look at the market and produce an earnings forecast based upon five years of historical data on Airbnb.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>3</h3>
        </div>
        <div class="timeline-content">
          <h4 class="timeline-content-date">Come to an agreement</h4>
          <p>
            We'll draft up an agreement that clearly outlines each party's roles and responsibilities. You'll be able to assess in your own time whether this is something that works for you. We're after long-term relationships, not quick wins.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3 class="four">4</h3>
        </div>
        <div class="timeline-content right">
          <h4 class="timeline-content-date">Prepare property &amp; photograph</h4>
          <p>
            If you want to prepare the property yourself, we'll support you with everything you need along the way. If you prefer to pay us to do it for you, we'll make it happen. Our specialist photographer will capture the best of your property from the best angles.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>5</h3>
        </div>
        <div class="timeline-content">
          <h4 class="timeline-content-date">Create &amp; publish listing</h4>
          <p>We use professional software to create and manage your listing in one place so that it features on Airbnb, Booking.com, HomeAway and several others. Every detail is crafted by an experienced professional to ensure you get the most revenue per available rental (<a href="https://www.investopedia.com/terms/r/revpar.asp">RevPAR</a>).</p>
        </div>
      </div>

      <div class="timeline-item--last">
        <div class="timeline-icon">
          <h3 class="six">6</h3>
        </div>
        <div class="timeline-content right">
          <h4 class="timeline-content-date">Market listing &amp; optimise</h4>
          <p>
            We promote your website on a variety of short-term rental platforms and optimize pricing so that you get the most income per available rental day. This is a systematic process led by a professional pricing expert, augmented by artificial intelligence and fueled by big data.
          </p>
        </div>
      </div>
    </div>
  </div>

<div class="text-center">
  <a href="#earningsFooter" class="button" data-smooth-scroll>see how much you could earn</a>
</div>

  <div class="timeline__heading__wrapper row" id="hosting-guests">
    <div class="timeline__heading">
      <h3>Step II: Hosting guests</h3>
      <img src="assets/img/hosting-guests.jpg" alt="Hosting Airbnb guests in Norwich" data-interchange="[assets/img/hosting-guests.jpg, small], [assets/img/hosting-guests@2x.jpg, retina]">
      <p>The quality of a guest's experience determines how well the property performs. You need a great property, but you also need a great host with professional hosting experience.</p>
    </div>
  </div>

  <div class="row">
    <div class="timeline column">
      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>1</h3>
        </div>
        <div class="timeline-content">
          <h4 class="timeline-content-date">Guest requests to stay</h4>
          <p>Each listing has a calendar that is synced with several platforms. Guests can request to book a range of dates. We thoroughly vet each guest before accepting each booking. We also require security deposits that cover your voluntary excess so if anything happens you don't pay out of pocket.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>2</h3>
        </div>
        <div class="timeline-content right">
          <h4 class="timeline-content-date">Guest checks in</h4>
          <p>Guests can choose to self check-in or to meet one of our co-hosts on the ground in-person. This allows business travellers to arrive late at night and families to get the extra support that they need. A human touch goes a long way.</p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3>3</h3>
        </div>
        <div class="timeline-content">
          <h4 class="timeline-content-date">We support the guest's stay</h4>
          <p>
            If the guest has any questions or concerns during their stay, we receive them immediately as a notification on our phones. We also have a tailored guest guide for each property that helps people make the most of their stay in your property.
          </p>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon">
          <h3 class="four">4</h3>
        </div>
        <div class="timeline-content right">
          <h4 class="timeline-content-date">Guest checks out. We clean &amp; turnover</h4>
          <p>
            At the end of their stay the guest leaves and a professional cleaning team comes in to clean and turn over the property for the next guest. Hotel quality linens and a keen eye for detail means your property is sparkling clean every time.
          </p>
        </div>
      </div>

      <div class="timeline-item--last">
        <div class="timeline-icon">
          <h3>5</h3>
        </div>
        <div class="timeline-content">
          <h4 class="timeline-content-date">We manage reviews</h4>
          <p>
            At the end of every booking both host and guest are asked to review each other. Five-star reviews are an integral aspect of a successful listing. We keep track of positive and negative feedback. If any trends emerge, we'll discuss them with you.
          </p>
        </div>
      </div>
    </div>
  </div>
