<!-- mobile nav bar -->
<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="large">
  <div class="title-bar-left">
    <div class="title-bar-title"><img src="assets/img/logo.svg" alt="The Good Host Airbnb Management Company Norwich Logo" /></div>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- large and larger nav bar -->
<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left">
    <ul class="menu vertical large-horizontal" data-smooth-scroll>
      <li><a href="{{#unlesspage 'index'}}/{{/unlesspage}}#offering">What we offer</a></li>
      <li><a href="{{#unlesspage 'index'}}/{{/unlesspage}}#how-it-works">How it works</a></li>
      <li><a href="/about.html">About us</a></li>
    </ul>
  </div>
  <div class="top-bar-center">
    <a href="/"><img src="assets/img/logo.svg" alt="The Good Host Airbnb Management Company Norwich Logo" /></a>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><a href="mailto:info@thegoodhost.co.uk" data-event="contact-button">info@thegoodhost.co.uk</a></li>
      <li><a href="tel:08009804349" data-event="contact-button">0800 980 4349</a></li>
    </ul>
  </div>
</div>
<!-- /large and larger nav bar -->
